"""
This ETL process was created using the `able-workflow-etl-copier` template.
It is designed to be used with the `able-workflow` framework.

This process extract-transform-load (ETL) process has the following steps:

1. Extracts {{ module_type }} from a source into memory
  (e.g., a Pandas or Dask DataFrame).

  - If the {{ module_type }} was created by a previous ETL process generated
    by an `able-workflow-copier` template, the extraction will be handled
    by importing the `extract` module of that process, and
    validating it with the `schema` module of that process.

  - If the {{ module_type }} is from an external source, such as an API or
    proprietary file format, the extraction will be handled by the
    `runner.extract_external` module of this process, and validated with
    the the `runner.schema` module of this process.

2. Transforms the data using the `runner.transform` module of this process.

  The transformation takes the extracted object, not just a path but the
  actual object "in memory" (dask dataframes are lazy so not technically
  "in memory" but you get the idea), and transforms it into the desired
  output "in memory" object, which is then returned.

{% if module_type == "datasets" %}
  The transformation process can clean, filter, join, or otherwise
  manipulate the data to prepare it for further processing or analysis.
{% elif module_type == "features" %}
  The transformation process can create new features, aggregate data,
  or otherwise manipulate the data to prepare it for further processing
  or analysis.
{% elif module_type == "models" %}
  The transformation process can train a model, evaluate it, or otherwise
  manipulate the data to prepare it for further processing or analysis.
{% endif %}

3. Validates the transformed data using the `schema` module of this process.

4. Loads the transformed data into a destination on disk.
  Typically this is a `parquet` file or other flat file format.

This process is designed to be modular and reusable for use as part of a
Snakemake workflow that calls the `main.py:run` method of this process.

Other ETL processes can import the `extract` and `schema` modules of this
process to extract and validate the {{ module_type }} generated by
this process. The contents of the `runner` module require extra
dependencies (specified as `project.optional-dependencies.runner` in
`pyproject.toml`) and are not imported required to be imported by other
ETL processes that only need to extract and validate the {{ module_type }}.
This allows for a clear separation of concerns and keeps the dependencies
light for other ETL processes that do not require the full functionality
of this process.
"""
