"""
This module can be used to extract from disk the output of this ETL process.

(This is not the `extract_external` module, which is used to extract {{ module_type}}
from an external source, such as an API or proprietary file format, that
is consumed by this ETL process.)
"""
