# 10. Documentation for `{{ module_type }}/{{ etl_name }}`

## `docs/docs/{{ module_type }}/{{ module_name }}/{{ etl_name }}/index.md`

- [ ] Write documentation for the ETL process, including a description of the inputs and outputs.

## `docs/docs/{{ module_type }}/{{ module_name }}/{{ etl_name }}/config.md`

- [ ] Write documentation for the configuration file, including a description of the parameters and their default values.

## `docs/docs/contributing/templates/module-{{ module_type }}-{{ module_name }}/etl-{{ etl_name }}/index.md`

- [ ] These files should not need to be modified as they describe how to update this ETL process with changes to the `able-workflow-etl-copier` template.
