# Post Copier To-Do's for the `{{ module_type }}/{{ module_name }}/{{ etl_name }}` ETL process

This issue is for tracking the development of the ETL process that was copied from the `able-workflow-etl-copier` template.

## Next steps

### Required

- [ ] `pyproject.toml`
  - [ ] Add any extra dependencies that this module requires to `runner` in the `[project.optional-dependencies]` section of `pyproject.toml`. If those dependencies are not available on [conda-forge](https://anaconda.org/conda-forge/repo), then configure the `[tool.pyproject2conda.dependencies]` section of `pyproject.toml` to specify that they should be installed via `pip` instead of `conda`.
- [ ] `{{ package_name }}/{{ module_type }}/{{ etl_name }}/`
  - [ ] `extract.py`
  - [ ] `schema.py`
  - [ ] `runner/`
    {% if requires_extract_external -%}
    - [ ] `extract_external.py`
    {%- endif %}
    - [ ] `load.py`
    - [ ] `main.py`
    - [ ] `transform.py`
- [ ] `workflow/rules/{{ module_type }}/{{ module_name }}.smk`
  - [ ] Add this ETL process's output to the input of the `{{ module_type }}_{{ module_name }}_all` rule and describe in the rule's docstring.
