# Post Copier To-Do's for the `{{ module_type }}/{{ module_name }}/{{ etl_type }}` ETL process

This issue is for tracking the development of the ETL process that was copied from the `able-workflow-etl-copier` template.

## Next steps

### Required
