# 05. Draft and test `schema.py` and `test_schema.py` for `{{ module_type }}/{{ etl_name }}`


## `{{ package_name }}/{{ module_type }}/{{ etl_name }}/schema.py`

- [ ] Write a Pandera DataFrame Model to validate the dataframe returned by `transform`.

- [ ] Update the type hints and return type in `transform.py` to reflect the new return type of the `transform` method.


## `tests/{{ module_type }}/{{ module_name }}/{{ etl_name }}/test_schema.py`

- [ ] Write unit tests to ensure the schema behaves as expected. This can include testing valid and invalid data against the schema.
