"""
This file validates input into the {{ etl_name_long }} extracted from an
external source, such as an API or proprietary file format, using the
`runner.schema_external` module.

It may required additional dependencies specified in the
`pyproject.toml` file under the `project.optional-dependencies.runner`
section. These dependencies are not imported by default, allowing other
ETL processes to use the `extract` and `schema` modules without requiring
the full functionality of the `runner` module.
"""

import pandera.pandas as pa


# --- DUMMY TEMPLATE CODE --- REPLACE WITH ACTUAL CODE -----------------------

class SchemaExternal(pa.DataFrameModel):
    """Schema for the raw ticker quote payload returned by `extract_external`."""

    symbol: pa.typing.Series[str] = pa.Field(nullable=False, coerce=True)
    regularMarketPrice: pa.typing.Series[float] = pa.Field(gt=0)
    regularMarketTime: pa.typing.Series[int] = pa.Field(gt=0)

    class Config:
        strict = True
        coerce = True
