# {{ etl_name_long }} ETL process documentation

{{ etl_description }}

This module was created using the [able-workflow-module-copier](https://github.com/NEU-ABLE-LAB/able-workflow-etl-copier) template. See the [Contributing Page](contributing/templates/{{ module_type }}/{{ module_name }}/{{ etl_name }}) for more information on how to update or contribute to this module.

Pages in this section describe the ETL process that extracts, transforms, and loads the {{ etl_description }} {{ module_type }}.
