# Dataframe Schemas for {{ etl_name_long }} output

This page describes the dataframe schemas for the output of the {{ etl_name_long }} ETL process.

``` yaml
{% raw %}{% include "../../../../../{% endraw %}{{ package_name }}/{{ module_type }}/{{ module_name }}/{{ etl_name }}{% raw %}/schema.py" %}{% endraw %}
```
